<h1>Record</h1>

<div class="col-sm-6 col-md-4">
  <div class="">
    <p><b>Name: </b> <%= @record.name %></p> <br>
  </div>
  <div class="">
    <p><b>Email: </b><%= @record.email %></p><br>
  </div>
  <div class="">
    <p><b>Text: </b><%= @record.text %></p>
  </div>

</div>
