<h1>Description</h1>
<p>
  <strong><%= @product.name_of_product %></strong><br>
  <h4>Description: </h4>
  <%= @product.description %><br>
  <br>
  <b>Price: </b><%= @product.price %>
</p>

<%= link_to "Back", root_path %>
