<!DOCTYPE html>
<html>
  <head>
    <title>Task21</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="dropdown-header center">
      <h2>Не осталяй на завтра то, что можно сделать сегодня!!!</h2>
    </header>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= yield %>
      </div>
      <div class="panel-footer center">IT Attractor Plus Bishkek 2017</div>
    </div>
  </body>
</html>
