<p id="notice"><%= notice %></p>

<h1>Categories</h1>

  <% Category.all.each do |category| %>
    <h4><%= link_to category.title.capitalize, category_path(category) if can? :read, category %></h4> <br>

  <% end %>
